<section class="top-carousel"></section>
<section class="row d-block alter-n8" flex-grow>
    <div class="container paper-sheet">
        <div class="row pt-3 pb-3">
            <div class="col-md-4 col-sm-6 col-12 mb-3 small">
                <b-right></b-right>
                <div class="card">
                    <div class="card-img-top" data-src="../assets/image/recomandate.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-ellipsis mb-0"><code>.text-ellipsis</code> Texte recomandate</h5>
                            <!--<p class="card-text small">Texte recomandate recente.</p>-->
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href class="text-ellipsis">Dapibus ac facilisis in - un titlu foarte lung lorem ipsum dolor sit amet</a></li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-3 small">
                <b-right></b-right>
                <div class="list-group list-group-flush">
                    <div class="list-group-item bg-secondary text-light">
                        Texte recomandate
                    </div>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 mb-3 small">
                <div class="list-group list-group-flush">
                    <div class="list-group-item bg-secondary text-light">
                        Texte recomandate
                    </div>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                </div>
            </div>
        </div>
    </div>
</section>