    <section class="row alter-n8 mt-5" flex-grow>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-4 col-sm-6 col-12 mb-3 small">
                <div class="card profile-card">
                    <div class="card-img-top" data-src="http://www.poezie.ro/images/users/033305-m.jpg">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Ottilia Ardeleanu <code class="text-muted">[Tyly]</code></h5>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Oras de resedinta</b> Navodari</li>
                        <li class="list-group-item"><a href>Bibliografie Ottilia Ardeleanu</a></li>
                        <li class="list-group-item"><a href>Pagina personală web Ottilia Ardeleanu</a></li>
                        <li class="list-group-item"><blockquote> Iau ce-mi dai, doar ca să nu spui că nu ai făcut tot ce ţi-a stat în putere.<div class="font-weight-bold text-right">Kafka</div></blockquote></li>
                    </ul>
                </div>
                <div class="alte-detalii"><p class="muted lead mt-3"><i>Detalii secundare aici...</i></p></div>
            </div>
            <div class="col-md-8 col-sm-6 col-12">
                <div class="form-group">
                    <input class="form-control" disabled value="http://www.agonia.ro/index.php/author/0033305/Ottilia_Ardeleanu">
                </div>

                <div class="row pt-3 pb-3">
                    <div class="col-sm-6 col-12 mb-3 small">
                        <div class="list-group-item bg-secondary text-light">
                            Texte
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href class="text-ellipsis">Dapibus ac facilisis in - un titlu foarte lung lorem ipsum dolor sit amet</a></li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item"><a href class="text-ellipsis">Dapibus ac facilisis in - un titlu foarte lung lorem ipsum dolor sit amet</a></li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item"><a href class="text-ellipsis">Dapibus ac facilisis in - un titlu foarte lung lorem ipsum dolor sit amet</a></li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item"><a href class="text-ellipsis">Dapibus ac facilisis in - un titlu foarte lung lorem ipsum dolor sit amet</a></li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item"><a href class="text-ellipsis">Dapibus ac facilisis in - un titlu foarte lung lorem ipsum dolor sit amet</a></li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                        </ul>

                    </div>
                    <div class="col-sm-6 col-12 mb-3 small">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item bg-secondary text-light">
                                Comentarii
                            </div>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>